body {
    font-family:  "Dancing Script", cursive;
    background-color: #d8a4a9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin:0 ;
  }
  
  .calculator {
    width: 320px;
    background-color: #702828;
    border-radius:20px;
    box-shadow: 10px 10px rgba(75, 45, 45, 0.2);
    overflow: hidden;
  }
  
  .display {
    background-color: #c68484;
    color: #ffffff;
    text-align: right;
    padding: 10px 15px;
  }

  
  .display input {
    width: 99%;
    font-size: 1.8rem;
    border: none;
    background: none ;
    color: #fff;
    outline: none;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    background-color: #9c5656
    ;
  }
  
  button {
    padding: 15px;
    font-size: 1,2rem;
    background-color: #d0b5b5;
    border-radius: 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #962252;
  }
  
  .zero {
    grid-column: span 3;
  }
  
  .history {
    margin-top: 25px;
    width: 290px;
    background: #ff8989;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 10px 10px rgba(168, 93, 93, 0.5);
  }
  
  .history h2 {
    margin: 0 0 10px;
    font-size: 0,5rem;
  }
  
  .history ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #eab8b8;
    border-radius: 4px;
  }
  
  .history ul li {
    padding: 10px;
    background: #f0f0f0;
    border-bottom: 5px solid #ffffff;
  }
  
  .history ul li:last-child {
    border-bottom: 20px;
  }
  
  .history button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background: #fa4949;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .history button:hover {
    background: #bb6a6a;
  }
  
  .history ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: #ffd5bf;
    border-bottom: 1px solid #ddd;
  }
  
  .history ul li:last-child {
    border-bottom: none;
  }
  
  .history ul li button {
    background: #ff5252;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0.9rem;
  }
  
  .history ul li button:hover {
    background: #ff7878;
  }


  
  